@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@100;300;400;500;700&family=Ubuntu&family=Varela+Round&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #3652ad;
}
.container {
  /* max-width: 900px; */
  margin: auto;
  width: 80%;
  padding: 20px;
  background-color: #f8fae5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.disable {
  display: none;
}
.input-field {
  margin: 20px;
}
.input {
  height: 35px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Poppins", sans-serif;
  padding: 2px 10px;
  border-radius: 10px;
  width: 50vw;
}
.search-btn {
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  background-color: #3652ad;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.user-search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile {
  font-family: "Poppins", sans-serif;
  display: flex;
  background-color: #dcf2f1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#bio,
#twitter {
  margin: 10px 0;
}
#loader {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.profile h1 {
  font-size: 25px;
}

.repo-link {
  text-decoration: none;
  margin-top: 10px;
}

.left-sec {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 200px;
}
.detail-sec {
  margin: 2px 16px;
}
.img-sec {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  padding: 2px;
  border-radius: 50%;
}

.img-sec > img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
}
.repos-section {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
}
.repo-box {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border: none;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.topics {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.topic {
  color: white;
  background-color: rgb(85, 169, 203);
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 3px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pagination button:hover {
  background-color: #ccc;
}
